<hr />
<button class="crossblade-add-sound" type="button" title="{{localize 'CROSSBLADE.Sound.Layer.Add'}}">
  <i class="fas fa-plus"></i>
</button>
<h3>⚔️ {{localize 'CROSSBLADE.Sound.ConfigSection'}}</h3>