<div class="header-crossblade-custom-event flexrow">
  <i class="crossblade-font-icon"></i>
  <input type="text" name="customEvent" value="{{ value }}" title="{{ localize 'CROSSBLADE.Settings.Events.Custom.Name' }}" placeholder="{{ localize 'CROSSBLADE.Settings.Events.Custom.Name' }}" autocomplete="off">
  <a class="clear-custom-event" title="{{ localize 'CROSSBLADE.Settings.Events.Custom.Clear' }}"><i class="fas fa-times fa-fw"></i></a>
</div>