<form class="crossblade-sound-config" autocomplete="off">
    <h4 class="section-header">
        <a class="header-label crossblade-help" title="{{ localize 'CROSSBLADE.Layers.Help' }}">
            {{ localize "CROSSBLADE.Layers.Name" }}
            <i class="fas fa-question-circle"></i>
        </a>
        <span class="fill"></span>
        <a class="crossblade-click-control add-crossblade-sound-layer" title="{{localize 'CROSSBLADE.Sound.Layer.Add'}}">
            <i class="fas fa-plus"></i>
        </a>
    </h4>
    <div id="soundLayers">
        {{#each object.flags.crossblade.soundLayers}}
            {{> crossbladeSoundLayer index=@index baseVolume=../baseVolume crossbladeEvents=../crossbladeEvents}}
        {{/each}}
    </div>
    <button type="submit" name="submit">
        <i class="fas fa-file-audio"></i> {{ localize "CROSSBLADE.Layers.Update" }}
    </button>
</form>
