.crossblade-click-control {
  width: 18px;
  flex: 0 0 18px;
  line-height: 24px;
  color: #7a7971;
}
.crossblade-event {
  clear: both;
  display: flex;
  align-content: flex-end;
}

.crossblade-event > :not(:last-child) {
  margin-right: 3px;
}

.crossblade-sound-config .section-header {
  display: flex;
}

.crossblade-sound-config .section-header .header-label {
  white-space: nowrap;
}

.crossblade-sound-config .crossblade-sound-layer > .section-header {
  padding: 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
}

.crossblade-sound-config .fill {
  display: inline-block;
  width: 100%;
}

.crossblade-icon {
  width: 100%;
  height: 100%;
  display: block;
  background: url(../assets/crossed-swords.svg) no-repeat center;
  background-size: contain;
  filter: brightness(0.7);
  padding: 5px;
  background-origin: content-box;
}

.crossblade-font-icon {
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

.crossblade-font-icon::before {
  font-style: normal;
  content: '⚔';
}

.directory .directory-header i.crossblade-font-icon {
  font-size: 20px;
}

.window-app .window-header i.crossblade-font-icon {
  margin-right: 3px;
}

.directory .directory-header .header-crossblade-custom-event > * {
  flex: 0 0 24px;
}

.directory .directory-header .header-crossblade-custom-event input[name='customEvent'],
.directory .directory-header .header-crossblade-custom-event select[name='customEvent'] {
  flex: 1;
  margin: 0 3px;
  background: rgba(255, 255, 245, 0.8);
}

.directory .directory-header .header-crossblade-custom-event.active i.crossblade-font-icon {
  color: rgba(160, 255, 20);
  text-shadow: 0 0 8px rgba(160, 255, 20);
}

.directory .directory-header .header-crossblade-custom-event.inactive i.crossblade-font-icon {
  color: rgb(255, 20, 20);
  text-shadow: 0 0 8px rgb(255, 20, 20);
}

.directory .directory-header .header-crossblade-custom-event input[name='customEvent'].warn:not(:focus) {
  background: rgba(255, 240, 0, 0.8);
}

.directory-list .sound .sound-name i.crossblade-font-icon {
  margin-left: 3px;
  cursor: help;
}

#context-menu li.context-item > i.crossblade-font-icon {
  margin-right: 5px;
  -moz-osx-font-smoothing: grayscale;
}

.crossblade-events label.form-check-label {
  display: block;
}

.crossblade-events input.form-check-input {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

a.crossblade-help {
  cursor: help;
}
